body {
  
  margin-left: 190px;
  margin-right: 190px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

label {
  display: block;
  margin: 10px 0 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}


#login-form button {
  background: #0047ab;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

#login-form button:hover {
  background: #003b91;
} 

p {
  margin-top: 15px;
}
header h1 {
  display: flex;
  justify-content: center;
  color: blue;
}

#cta-section {
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
}
.cta-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.cta-box {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cta-box img {
  width: 100%;
  height: 150px;
  padding: 0;
  
  box-shadow:rgb(30, 30, 93);
}
.cta-box img:hover {
  transform: scale(1,1);
}

.cta-box h2 {
  color: #003366;
}

.cta-box button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cta-box button:hover {
  background-color: #0056b3;
}

#promotions {
  padding: 40px;
  text-align: center;
}

.promo-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.promo-box {
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#promotions h2 {
  color: red;
}
.promo-box h3 {
  color: #003366;
}

.promo-box button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.promo-box button:hovercolor {
  background-color: #0056b3;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
  margin-right: 100px;
}
.head h1 {
  color: blue;
};

.head h3:hover {
  color: red;
  cursor: pointer;
}

.logo img {
  width: 150px;
  height: auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color:rgb(30, 30, 93);
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.navs {
  display: flex;
  gap: 20px;
  align-items: center;
}
.navs a {
  text-decoration:none;
  color:white;
  padding: 20px 20px;
}
.navs a:hover {
  color: rgb(170, 169, 169);
  
}
nav .signin {
  text-decoration: none;
  margin-right: 50px;
}

nav .signin:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;  
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  top: 100%;
  right: 0;
}


.dropdown-content a {
  color: blue;
  display: block;
  padding:5px;
  text-decoration: none;
  font-size: 13px;
}

.dropdown:hover .dropdown-content {
  display: block; 
}

#change-language-btn, .signin {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  text-decoration: none;
}

#change-language-btn:hover, .signin:hover {
  text-decoration: underline;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 10px;

}
.blinking-text {
  font-weight: bold;
  color: red;
  animation: blink-animation 1s infinite;
}
@keyframes blink-animation {
  0% {
    color: blue;
  }
  33% {
    color: red;
  }
  66% {
    color: rgb(12, 94, 12);
  }
  100% {
    color: red;
  }
}
.noti2 {
  font-weight: bold;
  color: blue;
}


#stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 30px;
  background-image: linear-gradient(rgba(255, 221, 0, 0.905), rgba(255, 223, 0, 0.5)), url("images/pngtree-business-cooperation-handshake-city-background-image_2412210.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  padding-top: 100px;
  padding-bottom: 100px;
}

.stat h3 {
  font-size: 2rem;
  color: black;
  margin: 0;
  font-family: cursive;
}
.stat img {
  width: 50%;
  height: 80px;
  color: black;
}

.slideshow {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides {
  display:none;
  width: 100%;
  height: 100%;
}

.slides img {
  width:fit-content;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.fade {
  animation: fadeEffect 1s ease-in-out;
}
@keyframes fadeEffect {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.prev, .next {
  position: absolute;
  top: 50%;
  padding: 16px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
  user-select: none;
}

.prev {
  left: 10px;
  transform: translateY(-50%);
}

.next {
  right: 10px;
  transform: translateY(-50%);
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}


.dashboard {
  margin: 30px;
  position: relative;
}
/* .home-page {
  position: relative;
} */
.welcome {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.account-details {
  display: flex;
  justify-content:space-between;
}
.personal-info {
  display: flex;
  justify-content:space-between;
  margin-right: 200px;
}

#logout-button {
  position: absolute;
  top: 140px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: rgb(61, 47, 119);
  color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.balance-check, .transaction-options, .transaction-history {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

#make-transaction {
  margin-top: 10px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#make-transaction:hover {
  background-color: #45a049;
}

#transaction-list {
  display: none;
  margin-top: 10px;
  padding: 0;
  list-style-type: none;
}

#transaction-list li {
  margin: 5px 0;
}

.horizontal-line {
  /* border-top: 2px solid #000; 
  margin-top: 10px;  */
  padding: 10px;
  background-color: blue;;
}

.heading {
  color: blue;
  text-align: center;
}
#login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  align-items: center;
   padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #dadce9; 
}



#register-form button {
  background: #0047ab;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

#register-form button:hover {
  background: #003b91;
} 

.container {
  background-color:#dadce9;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  /* width: 100%;
  max-width: 400px; */
  box-sizing: border-box;
  
}

.container h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #007bff;
}

#user-details-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.95rem;
  white-space: nowrap;
  width: auto;
  margin-left: 30px;
}
.btn {
  padding: 12px;
  background-color: #007bff; /* Primary button color */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.foot {
  background:blue;
  padding: 10px 10px;
  color: white;
}

.social-media-icons {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%); /* Center icons vertically */
  z-index: 1000; /* Make sure the icons are on top */
}

.social-media-icons a {
  display: block;
  margin: 10px 0;
}

.social-media-icons img {
  width: 40px; /* Adjust the size of the icons */
  height: 40px;
  transition: transform 0.3s ease;
}

.social-media-icons img:hover {
  transform: scale(1.1); /* Add a hover effect */
}


.personal_faq {
  margin: 30px 30px;
  padding-bottom: 30px;
}

.personal_faq h3{
  font-weight: bold;
}

.question {
  font-weight: bold;
}

.contact {
  margin: 20px 20px;
  background-image: url('images/contact_us.png');
  background-size: cover;

}

.contact a {
  color: red;
}

.contact-content {
  margin-right: 600px;
}
.contact h2 {
  color: blue;

}
.contact h1 {
  color: red;
}

#toggle-btn {
  background-color: rgb(32, 95, 151);
  color: white;
  border: none;
  padding: 20px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 16px;

}

.transaction-history {
  display: flex;
  justify-content: center;
  flex-direction: column;
}